{
  SenderEmail: "just.food.mailer@gmail.com",
  SenderEncryptedPassword : "usSGlY0Hs78kQs8jug8iNGZBNIQoqxVlyVSnj4Lebd40UZMuRkhCdLIeykb3/DbARvX0XUv7u1N0vacErz1rw+Xs8On/h406VcQpPLgmLDs6KsG5EEpDEO9MMbQfF1kzhaJmHMJ/B0UYxlZCeMRdDlKvIUQsF0bXjKQzfjSpF/Q=",
  PasswordHasher: "Simple-Chat-By-Alim-1.0",
  Port : "587",
  Host: "smtp.gmail.com"
  
}